<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}CrowdFunding{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body >
    <header>{% include 'base/header.html' %}</header>

    <main class="container max-w-7xl  mx-auto px-4 my-5">
      {% block content %}{% endblock %}
    </main>

    {% comment %}
    <footer>{% block footer %}{% endblock %}</footer>
    {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
