{% load static %}
<nav class="bg-white shadow-lg relative p-2">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <a href="/" class="text-xl font-bold">CrowdFunding</a>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <a
            href="{% url 'home:home' %}"
            class="text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 border-transparent hover:border-gray-300"
            >Home</a
          >
          <a
            href={% url "projects:projects_list" %}
            class="text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 border-transparent hover:border-gray-300"
            >Projects</a
          >
          {% if user.is_authenticated %}
          <a
            href={% url "projects:my_projects" %}
            class="text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 border-transparent hover:border-gray-300"
            >my Projects</a
          >
          {% endif %}
        </div>
      </div>
      <div class="flex items-center">
        <form id="search-form" method="get" action="{% url 'projects:projects_list' %}" autocomplete="off" class="flex me-2 relative z-20">
          <input type="text" name="search" id="search-input"
                 placeholder="Search projects or tags..."
                 class="px-4 py-2 border rounded w-full border-gray-300 rounded-s-md" />
          <ul id="autocomplete-list"
              class="absolute bg-white w-full border border-gray-300 rounded-md z-50 shadow-md hidden" style="top: 100%; margin-bottom: 4px; z-index: 50;"></ul>
        </form>
        {% if user.is_authenticated and user.profile %}
        <div class="flex items-center space-x-4">
          <a href="{% url 'users:profile' %}" class="flex items-center space-x-2 group">
            {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" alt="Profile"
                 class="w-12 h-12 rounded-full object-cover border border-gray-300 group-hover:border-gray-500 transition duration-150" />
          {% else %}
            <img src="{% static 'profile.png' %}" alt="Profile"
                 class="w-12 h-12 rounded-full object-cover border border-gray-300 group-hover:border-gray-500 transition duration-150" />
          {% endif %}
          </a>
        <form method="post" action="{% url 'users:logout' %}">
          {% csrf_token %}
          <button type="submit" class="text-gray-900 hover:text-gray-700 px-3 py-2 hover:underline bg-transparent border-0 cursor-pointer">
            Logout
          </button>
          
          
        </form>
        {% comment %} <!-- <div class="flex items-center gap-3 ">
        <div class="rounded-full w-10 h-10 overflow-hidden shadow ms-4">
          <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="w-full h-full object-cover">
        </div>
        <span class="text-gray-600 font-semibold">Hi, {{ user.first_name }}</span>
        </div> --> {% endcomment %}

        {% else %}
        <a href={% url "users:login" %} class="text-gray-900 hover:text-gray-700 px-3 py-2">Login</a>
        <a href={% url "users:signup" %} class="text-gray-900 hover:text-gray-700 px-3 py-2">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<script>
  const input = document.getElementById('search-input');
  const list = document.getElementById('autocomplete-list');

  input.addEventListener('input', function () {
    const search = this.value.trim();

    if (search.length < 2) {
      list.classList.add('hidden');
      list.innerHTML = '';
      return;
    }

    fetch("{% url 'home:autocomplete' %}?search=" + encodeURIComponent(search))
      .then(response => response.json())
      .then(data => {
        const suggestions = data.suggestions || [];
        list.innerHTML = '';

        if (suggestions.length === 0) {
          list.classList.add('hidden');
          return;
        }

        suggestions.forEach(item => {
          const li = document.createElement('li');
          li.textContent = item;
          li.className = 'px-4 py-2 cursor-pointer hover:bg-gray-100 ';
          li.onclick = () => {
            input.value = item;
            list.classList.add('hidden');
            input.form.submit();
          };
          list.appendChild(li);
        });

        list.classList.remove('hidden');
      })      
  });

  document.addEventListener('click', function (e) {
    if (!input.contains(e.target) && !list.contains(e.target)) {
        list.innerHTML = '';
        list.classList.add('hidden');
    }
});
</script>

