{% extends 'base/base.html' %}

{% block title %}
    SignUp
{% endblock  %}

{% block content %}
    <div class="flex items-center justify-center ">
        <div class="flex flex-col w-1/2 items-center justify-center bg-gray-100 p-4 rounded-xl shadow-xl">
            <h1 class="font-semibold text-2xl font-mono text-green-700 mb-10">SignUp</h1>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-5">
                    <label for="firstname" class="font-semibold text-lg mb-2">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="mb-5">
                    <label for="lastname" class="font-semibold text-lg mb-2">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="mb-5">
                    <label for="username" class="font-semibold text-lg mb-2">User Name</label>
                    {{ form.username }}
                </div>
                <div class="mb-5">
                    <label for="email" class="font-semibold text-lg mb-2">Email</label>
                    {{ form.email }}
                </div>
                <div class="mb-5">
                    <label for="phone" class="font-semibold text-lg mb-2">Phone</label>
                    {{ form.mobile_phone }}
                </div>
                <div class="mb-5">
                    <label for="password" class="font-semibold text-lg mb-2">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-5">
                    <label for="confirmpassword" class="font-semibold text-lg mb-2">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                <div class="mb-5 flex">
                    <label for="image" class="font-semibold text-lg mb-2">Profile Image</label>
                    {{ form.image }}
                </div>
                <div class="flex gap-5 ">
                    <p>Do You Have Account</p>
                    <a href="{% url "users:login" %}" class="underline text-green-600 hover:text-blue-500">Login</a>
                </div>

                {% if form.errors or form.non_field_errors %}
                    <div class="text-red-600 text-sm">
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <button type="submit" class="mt-5 bg-green-700 cursor-pointer px-8 py-2 text-white font-semibold hover:opacity-[0.7] rounded-xl">Register</button>
            </form>
        </div>
    </div>
{% endblock %}

    